.container {
    height: 100vh;
    max-width: 993px;
    margin: 0 auto;
    padding: 2.5rem 2.5rem;
    display: flex;
    flex-direction: column;
  }
  
.container section {
    align-content: center;
    display: grid;
    flex: 1;
    gap: 6.25rem;
    grid-template-columns: 1fr 1fr;
}  